@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --header-height: 64px;
        --footer-height: 64px;
    }

    * {
        -webkit-tap-highlight-color: transparent;
    }

    html {
        scroll-padding-top: var(--header-height);
    }
}

@layer components {
    .bg-hero-pattern {
        background: linear-gradient(
                45deg,
                transparent 48%,
                #ffd30040 49% 51%,
                transparent 51%
            ),
            linear-gradient(
                -45deg,
                transparent 48%,
                #ffd30040 49% 51%,
                transparent 51%
            );
        background-size: 3rem 3rem;
        background-color: #fff0e5;
        background-position: center;
    }

    .h-header {
        height: var(--header-height);
    }

    .h-footer {
        height: var(--footer-height);
    }

    .section-height {
        min-height: calc(100vh - var(--header-height));
    }

    .last-section-height {
        min-height: calc(
            100vh - calc(var(--header-height) + var(--footer-height))
        );
    }
}
