@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom Scrollbar */
::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-thumb {
    border-radius: 100vw;
    border: 3px solid hsla(0, 0%, 0%, 0);
    background-clip: padding-box;
    background-color: hsl(0, 0%, 80%);
}

::-webkit-scrollbar-thumb:hover {
    background-color: hsl(0, 0%, 40%);
}

.bg-main-pattern {
    background: linear-gradient(
            45deg,
            transparent 48%,
            #ffd30040 49% 51%,
            transparent 51%
        ),
        linear-gradient(
            -45deg,
            transparent 48%,
            #ffd30040 49% 51%,
            transparent 51%
        );
    background-size: 3rem 3rem;
    background-color: #fff0e5;
    background-position: center;
}
